.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}

.login-info{
    background-color: rgb(154, 140, 181);
    height: 270px;
    width: 300px;
    padding: 20px;
    font-size: 2rem;
    border-radius: 5px;
}

.login-credentials{
    flex-direction: column;
    list-style: none;
    display: flex;
    gap: 10px;
    
    margin-bottom: 30px;
    margin-top: 10px;
}

.login-submit{
    border: none;
}

