
.cart-product__img{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px;
    margin: 15px;
}

.cart-product__controls{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.cart-product__btn{
    color: #9d63af;
    background-color: transparent;
    border: solid 1px rgb(144, 100, 169);
    border-radius: 5px;
    bottom: 5%;
    right: 10%;
    font-size: 20px;
}

.cart-product__trash{
    display: flex;
    color: #9d63af;
    background-color: transparent;
    margin: 5px;
    position: relative;
    border: none;
    font-size: 20px;
    left: 60%;
}

.cart-product__img img{
    max-width: 100%;
}

.cart-product__detail{
    flex-grow: 1;
}

.cart-product__header{
    display: flex;
    justify-content: space-between;
}

.cart-product__title{
    margin: 0;
}

